body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

table {
    border-collapse: collapse;
}

td {
    border: none;
}

.header-footer {
    background: rgba(56, 189, 248, 0.8);
    font-weight: bold;
}


.logo {
    margin: 0;
    font-size: 40px;
}

.nav {
    font-size: 16px;
}

.glass {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    border-radius: 15px;
}

.card {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.button {
    padding: 8px 15px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: inline-block;
}



.netflix {
    background: #ef4444;
}

.spotify {
    background: #22c55e;
}

.pinterest {
    background: #e11d48;
}

h2, h3, p {
    margin: 10px 0;
}

.borderradius{
    border-radius: 15px;
}

.logo-link {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

.nav-link {
    text-decoration: none;
    color: white;
    margin: 0 5px;
}

.image-box {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
    transition: 0.4s ease;
}

.app-image {
    width: 180px;
    border-radius: 20px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.image-box:hover {
    box-shadow: 0 0 35px rgba(0, 11, 168, 0.7);
}

.image-box:hover .app-image {
    transform: scale(1.08);
}

.app-tagline {
    font-size: 14px;
}

.app-info {
    font-size: 14px;
}

.app-description {
    text-align: justify;
    font-size: 14px;
    line-height: 1.6;
}

.download-btn {
    font-size: 16px;
    padding: 10px 25px;
}
